img{
    width: 100%;
}

ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    color: currentColor;
    text-decoration: none;
    display: inline-block;
}

a:hover{
    color: #fff;
}

/* header */
header{
    display: contents;
}

.sony-container{
    background-color: black;
    display: flex;
    justify-content: end;
    padding: 10px;
}

.sony-container img{
    width: 75px;
}



/* nav */

.navbar{
    position: sticky;
    top: 0;
    z-index: 999;
}

.ms_dropdown-menu{
    right: 0;
    justify-content: center;
    align-items: center;
    border: none;
}

.ms_dropdown-menu.dropdown-menu{
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.4);
}

.ms_dropdown-item{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.nav_lens{
    width: 40px;
    height: 40px;   
    border-radius: 50%;
}

nav li{
    margin-left: 20px;
}


/* main */

/* section 1 */
.ms_jumbo-returnal{
    background-image: url( img/jumbo-bg.png );
    background-size: cover;
    background-position: center;
    color: #fff;
}

.ms_banner{
    min-height: 590px;
}

.ms_banner button{
    background-color: #CD3D0F;
    color: #fff;
    border: none;
}


/* section 2 */

.ms_list-thumb-game{
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid transparent;
    transition: 0.1s;
}

.ms_list-thumb-game.active, .ms_list-thumb-game:hover{
    outline-offset: 1px;
    outline: 3px solid #2285D5;
}


/* section 3 */
.ms_list-thumb-product{
    font-size: 13px;
    justify-content: space-between;
    border-bottom: 2px solid transparent;
}

.ms_opacity-thumb{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.5);
}

.ms_list-thumb-product.active, .ms_list-thumb-product:hover{
    border-bottom: 2px solid #0D6EFD;
}

.ms_list-thumb-product.active .ms_opacity-thumb, .ms_list-thumb-product:hover .ms_opacity-thumb{
    display: none;
}


/* section 4 */
.ms_jumbo-it-takes-two{
    background-image: url( img/it-takes-two-hero-banner-desktop.jpg );
    background-size: cover;
    background-position: center;
    color: #fff;
}


/* section 5 */
.ms_store-img{
    aspect-ratio: 1/1;
    border-radius: 20px;
}

.ms_store{
    background-color: #1F1F1F;
    color: #fff;
}


/* section 7 */
.ms_playstation-plus{
    background-color: #BEBCBB; 
}

.ms_playstation-plus button{
    background-color: #D9DADC;
    border: none;
    font-weight: 600;
}


/* section 9 */
.ms_playstation-now{
    background-color: #161C3B;
}

.ms_playstation-now button{
    background-color: #fff;
    border: none;
    font-weight: 600;
}


/* section 10 */
.ms_social-container{
    width: 560px;
}

.ms_social-container img{
    border-radius: 10px;
}


/* footer */
.ms_footer-information{
    background-color: #00439C;
}

.ms_country-img{
    width: 16px;
}

.ms_footer-information .col-auto > p{
    display: inline-block;
}

























