img{
    width: 100%;
}



/* header */
header{
    display: contents;
}

.sony-container{
    background-color: black;
    display: flex;
    justify-content: end;
    padding: 10px;
}

.sony-container img{
    width: 75px;
}



/* nav */

.navbar{
    position: sticky;
    top: 0;
}

.ms_dropdown-menu{
    right: 0;
    justify-content: center;
    align-items: center;
    border: none;
}

.ms_dropdown-menu.dropdown-menu{
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.4);
}

.ms_dropdown-item{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.nav_lens{
    width: 40px;
    height: 40px;   
    border-radius: 50%;
}

nav li{
    margin-left: 20px;
}


/* main */

/* section 1 */
.ms_jumbo-returnal{
    background-image: url( img/jumbo-bg.png );
    background-size: cover;
    background-position: center;
    color: #fff;
}

.ms_banner{
    min-height: 590px;
}

.ms_banner button{
    background-color: #CD3D0F;
    color: #fff;
    border: none;
}


/* section 2 */

