img{
    width: 100%;
}





/* nav */

.ms_dropdown-menu{
    right: 0;
    justify-content: center;
    align-items: center;
    border: none;
}

.ms_dropdown-menu.dropdown-menu{
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.4);
}

.ms_dropdown-item{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.nav_lens{
    width: 40px;
    height: 40px;   
    border-radius: 50%;
}

nav li{
    margin-left: 20px;
}


